Options -Indexes
RewriteEngine On
RewriteBase /project1/

# Cho phép truy cập file tĩnh (ảnh, css, js...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route tất cả request khác về index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
